@font-face {
    font-family: graphik;
    src: url(../font/Graphik-Font-Family/GraphikRegular.otf);
}

* {
    text-decoration: none !important;
    box-sizing: border-box;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}


:root {
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-92: 92px;
    /* color */
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-vectorbg: #DEDDED;
    --clr-border: #DFDFF0;
    --clr-darkgrey: #838383;
    --clr-footer: #EBECEF;
    --clr-purple: #6F69F2;
    --clr-btn-gradient: linear-gradient(102.79deg, #00C2CB 2.64%, #01BAFF 98.35%);
    --clr-txt-gradient: linear-gradient(101.64deg, #00B9FF 7.34%, #6F69F2 44.47%, #10B6D0 73.06%);
    --clr-num-gradient: linear-gradient(180deg, #6F69F2 0%, rgba(64, 61, 140, 0) 100%);
    --clr-podcast: linear-gradient(99.76deg, #00B9FF 34.35%, #6F69F2 64.82%, #10B6D0 88.28%);
    --clr-bluebox: linear-gradient(133.83deg, #00B9FF 3.77%, #6F69F2 81.07%);

}

.font-graphik {
    font-family: graphik !important;
}

/* section-1 */
.ft-btn {
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--clr-darkgrey);
}

.log {
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--clr-black);
}

.sign {
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--clr-white);
    background: var(--clr-purple);
    border: none;
    padding: 10px 28px 10px 28px;
    border-radius: 57px;
}

.navline {
    width: 30px;
    height: 4px;
    margin-top: 5px;
    background: var(--clr-black);
}

.border-bottom {
    border-bottom: 2px solid var(--clr-border) !important;
}

.main-head {
    font-size: var(--fs-44);
    font-weight: 600;
    line-height: 56.32px;
    text-align: center;
    color: var(--clr-black);
    max-width: 665px;
    padding-top: 90px !important;
}

.color {
    background: var(--clr-podcast);
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main-para {
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--clr-darkgrey);
    max-width: 593px;
    width: 100%;
}

/* section-2 */
.grp1-head {
    font-size: var(--fs-24);
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: var(--clr-black);
}

.num {
    font-size: var(--fs-92);
    font-weight: 900;
    line-height: 100.9px;
    opacity: 10%;
    text-align: left;
    margin-bottom: -50px !important;
    background: var(--clr-num-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.grp1-txt {
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--clr-darkgrey);
    max-width: 558px;
    width: 100%;
}

.repo {
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    background: var(--clr-txt-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.p-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.right-0 {
    right: 0%;
}

.top-70 {
    top: -70%;
}

/* section-7 */
.bluebox {
    max-width: 1140px;
    width: 100%;
    /* height: 318px; */
    border-radius: 32px;
    border: 4px solid white;
    background: var(--clr-bluebox);
    box-shadow: 0px 12px 30px 0px #706AF34D;
}

.box-txt {
    font-size: var(--fs-24);
    font-weight: 600;
    line-height: 31.2px;
    text-align: center;
    color: var(--clr-white);
}

.fs-40 {
    font-size: 40px;
}

.quiz {
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding: 16px 28px 16px 28px;
    border: 1px solid white;
    background: var(--clr-btn-gradient);
    margin-top: 20px;
    border-radius: 57px;
    color: var(--clr-white);

}

.free {
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--clr-white);
}

.bottom-25 {
    bottom: -25%;
}

.bgclr {
    background: linear-gradient(to bottom, white 50%, #EBECEF 50%);
}

/* footer */
.bgclr1 {
    background: var(--clr-footer);
}

.foot-txt {
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #4D4D4D;
}

.list-head {
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--clr-black);
}

.list-item {
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #4D4D4D;
}

.grey-circle {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #DEDDED;
}

.ml30 {
    margin-left: 30px;
}

.border-top {
    border-top: 2px solid var(--clr-border) !important;
}

.greybox {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: #DEDDED;
}

@media (max-width: 991px) {
    .lg-view {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -150%;
        background: var(--clr-btn-gradient);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 17 !important;
        transition: 0.5s;
        gap: 20px;
    }

    .navicon {
        z-index: 20;
    }

    .show {
        left: 0%;
    }

}

@media (min-width:1200px) {
    .gap-xl-175 {
        gap: 175px !important;
    }

}